{{template "base" .}}
{{define "title"}}About Page{{end}}
{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is About Page</h1>
            <p>This is About Page</p>
            <p>This came from template: {{index .StringMap "test"}} </p>
            <p>
                {{if ne (index .StringMap "remote_ip") ""}}
                Your Remote Id is : {{index .StringMap "remote_ip"}}
                {{else}}
                Click here to get IP address of your machine <a href="/">Home Page</a>
                {{end}}
            </p>
        </div>
    </div>
</div>
{{end}}