{{template "base" .}}
{{define "title"}}Home Page{{end}}
{{define "content"}}
<div class="container local">
    <div class="row">
        <div class="col">
            <h1>Make Reservation</h1>
            <div class="row">
                <div class="col">
                    <strong>Reservation Details</strong>
                </div>
            </div>
            <div class="row">
                {{$res := index .Data "reservation"}}
                <form action="/make-reservation" method="post" novalidate class="">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <div class="form-row" id="make-reservation">
                        <div class="col">
                            <label for="FirstName" class="form-label">First Name</label>
                            {{with .Forms.Errors.Get "FirstName"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input type="text"
                                class='form-control {{with .Forms.Errors.Get "FirstName"}}is-invalid{{end}}'
                                id="FirstName" name="FirstName" aria-describedby="First Name" placeholder="First Name"
                                autocomplete="off" value="{{$res.FirstName}}" required>
                        </div>
                        <div class="col">
                            <label for="LastName" class="form-label">Last Name</label>
                            {{with .Forms.Errors.Get "LastName"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input type="text"
                                class='form-control {{with .Forms.Errors.Get "LastName"}}is-invalid{{end}}'
                                id="LastName" name="LastName" aria-describedby="Last Name" placeholder="Last Name"
                                value="{{$res.LastName}}" autocomplete="off" required>
                        </div>
                        <div class="col">
                            <label for="Email" class="form-label">Email</label>
                            {{with .Forms.Errors.Get "Email"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input type="text" class='form-control {{with .Forms.Errors.Get "Email"}}is-invalid{{end}}'
                                id="Email" name="Email" aria-describedby="Email" placeholder="Email" autocomplete="off"
                                value="{{$res.Email}}" required>
                        </div>
                        <div class="col">
                            <label for="Phone" class="form-label">Phone</label>
                            {{with .Forms.Errors.Get "Phone"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input type="text" class='form-control {{with .Forms.Errors.Get "Phone"}}is-invalid{{end}}'
                                id="Phone" name="Phone" aria-describedby="Phone" placeholder="Phone" autocomplete="off"
                                value="{{$res.Phone}}" required>
                        </div>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">Make Reservation</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{end}}