{{template "base" .}}
{{define "title"}}Reservation Summery{{end}}
{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-5">Reservation Summery</h1>
            <hr>
            <table class="table table-stripped">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>Name:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Arrival:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Dipature:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{end}}